# Praktische Übung 2: Logistische Regresssion

## Der Titanic Datensatz


Gegeben: Verschiedene Attribute zu den Passagieren auf der Titanic. <br>
Frage: Hat der Passagier das Unglück überlebt?

Da wir den Umgang mit kategorischen Features noch nicht eingeführt haben benutzen wir nur folgende Attribute: <br>
- `Pclass`: Passenger cabin class (1 = 1st, 2 = 2nd, 3 = 3rd)
- `Age`: Age of passenger
- `SibSp`: Number of siblings/spouses aboard
- `Parch`: Number of children/parents aboard
- `Fare`: Passender Fare (brithish pound)
- `Survived`: Did passenger survive? (0 = no, 1 = yes)

## Aufgabe 1

1. Laden Sie den Datensatz aus `titanic.csv` in einen Pandas DataFrame. Die Daten befinden sich im `/data` folder auf GitHub.
2. Erstellen Sie einen neuen DataFrame, der nur die folgenden Spalten enthält: "Survived", "Pclass", "Age", "Fare", "Sibsp", "Parch"
3. Entfernen Sie die leeren Felder aus dem DataFrame (d.h. Felder mit `NaN`-Werten) indem sie die Methode `dropna()` auf dem DataFrame aufrufen. <br>Zählen Sie wie viele Zeilen der DataFrame vor und nach dem Aufruf hat.

1. Laden Sie den Datensatz aus `titanic.csv` in einen Pandas DataFrame. Die Daten befinden sich im `/data` folder auf GitHub.

In [40]:
# Load the titanic.csv file into a pandas dataframe
import pandas as pd
data_df = pd.read_csv('data/titanic.csv')
data_df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

2. Erstellen Sie einen neuen DataFrame, der nur die folgenden Spalten enthält: "Survived", "Pclass", "Age", "Fare", "Sibsp", "Parch"

In [5]:
# from the data_df dataframe, create a new dataframe with only the columns "Survived", "Pclass", "Age", "Fare", "Sibsp", "Parch"
data_df = data_df[["Survived", "Pclass", "Age", "Fare", "SibSp", "Parch"]]
data_df.head()

   Survived  Pclass   Age     Fare  SibSp  Parch
0         0       3  22.0   7.2500      1      0
1         1       1  38.0  71.2833      1      0
2         1       3  26.0   7.9250      0      0
3         1       1  35.0  53.1000      1      0
4         0       3  35.0   8.0500      0      0

3. Entfernen Sie die leeren Felder aus dem DataFrame (d.h. Felder mit `NaN`-Werten) indem sie die Methode `dropna()` auf dem DataFrame aufrufen. <br>Zählen Sie wie viele Zeilen der DataFrame vor und nach dem Aufruf hat.

In [6]:
# display how many rows are in the dataframe
print("Number of rows in the dataframe (with NaNs): ", len(data_df))
# drop all rows with NaNs
data_df = data_df.dropna()
# display how many rows are in the dataframe after dropping NaNs
print("Number of rows in the dataframe (without NaNs): ", len(data_df))

Number of rows in the dataframe (with NaNs):  891
Number of rows in the dataframe (without NaNs):  714

## Aufgabe 2

1. Unterteilen Sie den aus Aufgabe 1 entstandenen DataFrame mit Hilfe der Methode `train_test_split` in Trainings- und Testdaten. 
2. Trainieren Sie eine logistische Regression auf den Trainingsdaten mit "Survived" als Label. 
3. Machen Sie mit dem trainierten Model Vorhersagen auf den Testdaten und berechnen Sie:
    - Accuracy
    - Precision
    - Recall

1. Unterteilen Sie den aus Aufgabe 1 entstandenen DataFrame mit Hilfe der Methode `train_test_split` in Trainings- und Testdaten.

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    data_df[["Pclass", "Age", "Fare", "SibSp", "Parch"]],   # Features
      data_df["Survived"],                                  # Label
        test_size=0.2,                                      # 20% of the data is used for testing
          random_state=0)                                   # Random state is set to 0 to ensure reproducibility

2. Trainieren Sie eine logistische Regression auf den Trainingsdaten mit "Survived" als Label.

In [8]:
# import the LogisticRegression class from the sklearn.linear_model module
from sklearn.linear_model import LogisticRegression
# create a LogisticRegression object
logReg = LogisticRegression()
# train the model using the training data
logReg.fit(X_train, y_train)

LogisticRegression()

3. Machen Sie mit dem trainierten Model Vorhersagen auf den Testdaten und berechnen Sie:
    - Accuracy
    - Precision
    - Recall

In [10]:
# import the accuracy_score function from the sklearn.metrics module
from sklearn.metrics import accuracy_score, precision_score, recall_score 

#display the accuracy score of the model on the test data
print("Accuracy score: ", accuracy_score(y_test, logReg.predict(X_test)))

#display the precision score of the model on the test data
print("Precision score: ", precision_score(y_test, logReg.predict(X_test)))

#display the recall score of the model on the test data
print("Recall score: ", recall_score(y_test, logReg.predict(X_test)))

Accuracy score:  0.6993006993006993
Precision score:  0.723404255319149
Recall score:  0.53125

## Aufgabe 3

1. Fügen Sie nun das Geschlecht als weiteres Feature hinzu und führen Sie die Schritte aus Aufgabe 1 und 2 erneut aus. Beachten Sie dabei, dass Geschlecht kein numerischer Wert ist, d.h. Sie müssen daraus ein numerisches Feature erstellen. Beispiel: Feature "isFemale" hat den Wert 1  wenn Sex == "female", sonst 0. Hinweis: Python wandelt Booleans automatisch in Nummern um. 
2. In wie weit verbessert sich die Accuracy durch das neue Feature?
3. Versuchen Sie nun auf ähnliche Weise die Spalte "Embarked" als Feature zu nutzen.

1. Fügen Sie nun das Geschlecht als weiteres Feature hinzu und führen Sie die Schritte aus Aufgabe 1 und 2 erneut aus. Beachten Sie dabei, dass Geschlecht kein numerischer Wert ist, d.h. Sie müssen daraus ein numerisches Feature erstellen. Beispiel: Feature "isFemale" hat den Wert 1  wenn Sex == "female", sonst 0. Hinweis: Python wandelt Booleans automatisch in Nummern um.

In [64]:
# import the pandas module
import pandas as pd
# import the titanictest.csv file into a pandas dataframe
data2_df = pd.read_csv('data/titanic.csv')

data2_df = data2_df[["Survived", "Pclass", "Sex", "Age", "Fare", "SibSp", "Parch"]]
data2_df.head()

# drop all rows with NaNs
data2_df = data2_df.dropna()


data2_df['Sex'] = data2_df['Sex'].map({'female': 1, 'male': 0})     # female is 1, male is 0
data2_df = data2_df.rename(columns={'Sex': 'isFemale'})             # rename the column to isFemale

data2_df.head()

   Survived  Pclass  isFemale   Age     Fare  SibSp  Parch
0         0       3         0  22.0   7.2500      1      0
1         1       1         1  38.0  71.2833      1      0
2         1       3         1  26.0   7.9250      0      0
3         1       1         1  35.0  53.1000      1      0
4         0       3         0  35.0   8.0500      0      0

In [65]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    data2_df[["Pclass","isFemale", "Age", "Fare", "SibSp", "Parch"]],   # Features
      data2_df["Survived"],                                              # Label
        test_size=0.2,                                                  # 20% of the data is used for testing
          random_state=0)                                               # Random state is set to 0 to ensure reproducibility

In [66]:
# import the LogisticRegression class from the sklearn.linear_model module
from sklearn.linear_model import LogisticRegression
# create a LogisticRegression object
logReg2 = LogisticRegression()
# train the model using the training data
logReg2.fit(X_train, y_train)

LogisticRegression()

In [67]:
# import the accuracy_score function from the sklearn.metrics module
from sklearn.metrics import accuracy_score, precision_score, recall_score 

#display the accuracy score of the model on the test data
print("Accuracy score (with Gender): ", accuracy_score(y_test, logReg2.predict(X_test)))

#display the precision score of the model on the test data
print("Precision score (with Gender): ", precision_score(y_test, logReg2.predict(X_test)))

#display the recall score of the model on the test data
print("Recall score (with Gender): ", recall_score(y_test, logReg2.predict(X_test)))

Accuracy score (with Gender):  0.8461538461538461
Precision score (with Gender):  0.8387096774193549
Recall score (with Gender):  0.8125

3. Versuchen Sie nun auf ähnliche Weise die Spalte "Embarked" als Feature zu nutzen.

In [59]:
# import the pandas module
import pandas as pd
# import the titanictest.csv file into a pandas dataframe
data3_df = pd.read_csv('data/titanic.csv')

data3_df = data3_df[["Survived", "Pclass", "Sex", "Age", "Fare", "SibSp", "Parch", "Embarked"]]

# drop all rows with NaNs
data3_df = data3_df.dropna()

data3_df['Sex'] = data3_df['Sex'].map({'female': 1, 'male': 0})     # female is 1, male is 0
data3_df = data3_df.rename(columns={'Sex': 'isFemale'})             # rename the column to isFemale

data3_df.head()

   Survived  Pclass  isFemale   Age     Fare  SibSp  Parch Embarked
0         0       3         0  22.0   7.2500      1      0        S
1         1       1         1  38.0  71.2833      1      0        C
2         1       3         1  26.0   7.9250      0      0        S
3         1       1         1  35.0  53.1000      1      0        S
4         0       3         0  35.0   8.0500      0      0        S

In [60]:
# add column for Embarked = C
data3_df['Embarked_C'] = data3_df['Embarked'].map({'C': True, 'Q': False, 'S': False})
# add column for Embarked = Q
data3_df['Embarked_Q'] = data3_df['Embarked'].map({'C': False, 'Q': True, 'S': False})
# add column for Embarked = S
data3_df['Embarked_S'] = data3_df['Embarked'].map({'C': False, 'Q': False, 'S': True})

#drop the Embarked column
data3_df = data3_df.drop(columns=['Embarked'])

data3_df.head()

,Survived,Pclass,isFemale,Age,Fare,SibSp,Parch,Embarked_C,Embarked_Q,Embarked_S
0,0,3,0,22.0,7.2500,1,0,False,False,True
1,1,1,1,38.0,71.2833,1,0,True,False,False
2,1,3,1,26.0,7.9250,0,0,False,False,True
3,1,1,1,35.0,53.1000,1,0,False,False,True
4,0,3,0,35.0,8.0500,0,0,False,False,True

In [70]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    data3_df[["Pclass","isFemale", "Age", "Fare", "SibSp", "Parch", "Embarked_C", "Embarked_Q", "Embarked_S"]],   # Features
      data3_df["Survived"],                                                                                       # Label
        test_size=0.2,                                                                                       # 20% of the data is used for testing
          random_state=0)                                                                       # Random state is set to 0 to ensure reproducibility

In [71]:
# import the LogisticRegression class from the sklearn.linear_model module
from sklearn.linear_model import LogisticRegression
# create a LogisticRegression object
logReg3 = LogisticRegression(max_iter=1000)
# train the model using the training data
logReg3.fit(X_train, y_train)

LogisticRegression(max_iter=1000)

In [73]:
# import the accuracy_score function from the sklearn.metrics module
from sklearn.metrics import accuracy_score, precision_score, recall_score 

#display the accuracy score of the model on the test data
print("Accuracy score (with Gender and Embarked): ", accuracy_score(y_test, logReg3.predict(X_test)))

#display the precision score of the model on the test data
print("Precision score (with Gender and Embarked): ", precision_score(y_test, logReg3.predict(X_test)))

#display the recall score of the model on the test data
print("Recall score (with Gender and Embarked): ", recall_score(y_test, logReg3.predict(X_test)))

Accuracy score (with Gender and Embarked):  0.8181818181818182
Precision score (with Gender and Embarked):  0.8431372549019608
Recall score (with Gender):  0.7049180327868853

## Bonus

Welches sind die wichtigsten und unwichtigsten Features des Modells fur die Vorhersage?

In [85]:
features_names = ["Pclass","isFemale", "Age", "Fare", "SibSp", "Parch", "Embarked_C", "Embarked_Q", "Embarked_S"]
weights = logReg3.coef_[0]
# create a pandas dataframe with the features and their weights
weights_df = pd.DataFrame({'Feature': features_names, 'Weight': weights})

# get the index of the column with the highest absolute weight
max_weight_index = weights_df['Weight'].abs().idxmax()

# print the column with index max_weight_index as a dataframe
weights_df.iloc[[max_weight_index]]

    Feature    Weight
1  isFemale  2.416171